- cache ['dashboard', head_block_num] do
  .row
    .col-sm-9
      = render partial: '/transactions/transaction', collection: @transactions
      
      %p
        = pagy_bootstrap_nav_js(@pagy).html_safe
    .col-sm-3
      .card.mb-3.shadow-sm
        %h3.card-header.bg-light Properties
        .card-body.bg-white
          %h3.card-title.lead Sidechain Time:
          %samp.card-text.float-right= Transaction.consensus_order(:desc).first.timestamp
        .card-body.bg-white
          %h3.card-title.lead Sidechain Head Block:
          %samp.card-text.float-right= link_to number_with_delimiter(head_block_num), b_path(head_block_num)
        .card-body.bg-white
          %h3.card-title.lead Tokens:
          %samp.card-text.float-right= link_to number_with_delimiter(TokensCreate.distinct(:symbol).count), tokens_path
        .card-body.bg-white
          %h3.card-title.lead NFTs:
          %samp.card-text.float-right= link_to number_with_delimiter(NftCreate.distinct(:symbol).count), nfts_path
        .card-body.bg-white
          %h3.card-title.lead Contracts:
          %samp.card-text.float-right= link_to number_with_delimiter((ContractDeploy.pluck(:name) + ContractUpdate.pluck(:name)).uniq.size), contracts_path
