- cache ['dashboard', head_block_num] do
  .row
    .col-sm-9
      = render partial: '/transactions/transaction', collection: @transactions
      
      %p
        = pagy_bootstrap_nav_js(@pagy).html_safe
    .col-sm-3
      .card.mb-3.shadow-sm
        %h3.card-header.bg-light Properties
        .card-body.bg-white
          %h3.card-title.lead Sidechain Time:
          %samp.card-text.float-right= Transaction.consensus_order(:desc).first.timestamp
        .card-body.bg-white
          %h3.card-title.lead Sidechain Head Block:
          %samp.card-text.float-right= link_to number_with_delimiter(head_block_num), b_path(head_block_num)
        .card-body.bg-white
          %h3.card-title.lead Tokens:
          %samp.card-text.float-right= link_to number_with_delimiter(total_tokens_count), tokens_path
        .card-body.bg-white
          %h3.card-title.lead NFTs:
          %samp.card-text.float-right= link_to number_with_delimiter(total_nfts_count), nfts_path
        .card-body.bg-white
          %h3.card-title.lead Contracts:
          %samp.card-text.float-right= link_to number_with_delimiter(total_contracts_count), contracts_path
      - cache ['dashboard-most-active', (most_active = TransactionSymbol.most_active).keys] do
        .card.mb-3.shadow-sm
          %h3.card-header.bg-light Most Active
          .card-body.bg-white
            %ul.list-group-flush
              - most_active.each do |symbol, count|
                %li.list-group-item
                  = link_to transactions_path(symbol: symbol) do
                    = token_icon(symbol, img_class: 'float-left', width: 24, height: 24)
                    &nbsp;
                    = symbol
        -# .card-body.bg-white
        -#   %h3.card-title.lead Witnesses:
        -#   %samp.card-text.float-right= link_to number_with_delimiter(active_witnesses_count), witnesses_path
