%script(src='https://cdn.rawgit.com/beautify-web/js-beautify/v1.10.2/js/lib/beautify.js')
%script(src='https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js')

.row
  .col-sm-4
    %h1
      = link_to '⬅️', contracts_path, style: 'text-decoration: none;'
      Contract:
      %code= @contract.name
  .col-sm-8
    .float-right
      = surround '(', ')' do
        %code= @contract.trx.trx_id
.row
  .col-sm-12
    .card.bg-light
      %pre.card-body
        %code
          = Base64.decode64(@contract.code)

:javascript
  var beautify = function() {
    try {
      code = $('pre > code');
      beautified = js_beautify(code.text());
      code.empty().append(beautified);
      code.addClass('prettyprint');
      code.addClass('language-javasript');
    } catch (e) {
      if ( e instanceof ReferenceError ) {
        console.log('CDN did not load in time, retrying.');
        
        setTimeout(beautify, 3000);
      }
    }
  }
  
  $(document).on('ready turbolinks:load', beautify);
