.row
  .col-sm-12
    %h1
      - url = JSON[NftUpdateMetadata.find_by(symbol: @nft.symbol).try(:metadata) || '{}'].fetch('url', @nft.url)
      - if !!url
        - url = "https://#{url.sub(/^http(s?):\/\//i, '').strip}"
        %span.symbol= link_to @nft.symbol, URI.parse(url).to_s rescue @nft.symbol
      \-
      = @nft.name

    %table.table.table-striped
      %tbody
        %tr
          %th Issuer
          %td= link_to @nft.trx.sender, account_home_path(@nft.trx.sender)
        %tr
          %th Max Supply
          %td= number_with_delimiter @nft.max_supply
        %tr
          %th Authorized Issuing Accounts
          %td= @nft.hydrated_authorized_issuing_accounts.join(', ')
        %tr
          %th Created
          %td= @nft.trx.timestamp
        %tr
          %th Activity
          %td
            = link_to transactions_path(symbol: @nft.symbol) do
              %time{data: {toggle: 'tooltip', placement: 'right'}, title: active_at = symbol_active_at(@nft.symbol)}
                = active_at
        - if @properties.any?
          %tr
            %th{cellspan: 2}= link_to 'Properties', transactions_path(contract: 'nft', contract_action: 'addProperty', symbol: @nft.symbol)
          - @properties.find_each do |property|
            %tr
              %th= property.name
              %td= "#{property.property_type} #{property.is_read_only? ? '(readonly)' : ''}"
