.row
  .col-sm-12
    %h1
      - url = JSON[TokensUpdateMetadata.find_by(symbol: @token.symbol).try(:metadata) || '{}'].fetch('url', @token.url)
      - if !!url
        - url = "https://#{url.sub(/^http(s?):\/\//i, '').strip}"
        %span.symbol= link_to @token.symbol, URI.parse(url).to_s rescue @token.symbol
      \-
      = @token.name
      
      = token_icon(@token.symbol, img_class: 'float-right')
    
    %table.table.table-striped
      %tbody
        %tr
          %th Issuer
          %td
            - if !!@token.trx
              = link_to @token.trx.sender, account_home_path(@token.trx.sender)
        - if !!@metadata
          - (JSON[@metadata.metadata] rescue {}).each do |k, v|
            - next if k == 'icon'
            
            %tr
              %th= k
              %td= v
        %tr
          %th Precision
          %td= token_precision(@token)
        %tr
          %th Max Supply
          %td= number_with_delimiter @token.max_supply
        %tr
          %th Created
          %td
            - if !!@token.trx
              = @token.trx.timestamp
        %tr
          %th Activity
          %td
            = link_to transactions_path(symbol: @token.symbol) do
              %time{data: {toggle: 'tooltip', placement: 'right'}, title: active_at = symbol_active_at(@token.symbol, :token)}
                = active_at
