.row
  .col-sm-12
    %h1
      - url = JSON[TokensUpdateMetadata.find_by(symbol: @token.symbol).try(:metadata) || '{}'].fetch('url', @token.url)
      - if !!url
        - url = "https://#{url.sub(/^http(s?):\/\//i, '').strip}"
        %span.symbol= link_to @token.symbol, URI.parse(url).to_s rescue @token.symbol
      \-
      = @token.name
      
      - if !!@metadata
        - (JSON[@metadata.metadata] rescue {}).each do |k, v|
          - next unless k == 'icon'
          - next unless v.present?
          - icon_url = URI(v) rescue nil
          - if !!icon_url
            %span
              %img.float-right{src: icon_url, width: 48, height: 48}

    %table.table.table-striped
      %tbody
        %tr
          %th Issuer
          %td= link_to @token.trx.sender, account_home_path(@token.trx.sender)
        - if !!@metadata
          - (JSON[@metadata.metadata] rescue {}).each do |k, v|
            - next if k == 'icon'
            
            %tr
              %th= k
              %td= v
        %tr
          %th Precision
          %td= token_precision(@token)
        %tr
          %th Max Supply
          %td= number_with_delimiter @token.max_supply
        %tr
          %th Created
          %td= @token.trx.timestamp
        %tr
          %th Activity
          %td
            = link_to transactions_path(symbol: @token.symbol) do
              %time{data: {toggle: 'tooltip', placement: 'right'}, title: active_at = symbol_active_at(@token.symbol, :token)}
                = active_at
