.row
  - indent = !!@last_transaction_id && @last_transaction_id == transaction.trx_id
  - @last_transaction_id = transaction.trx_id
  .col-sm-12{class: indent ? 'pl-4 pt-0' : 'pt-1'}
    .op.op-mini.shadow-sm.bg-white.rounded{id: transaction.trx_id}
      %span.action
        - payload = transaction.hydrated_payload
        - payload.delete('isSignedWithActiveKey')
        - logs = transaction.hydrated_logs
        = link_to transaction.sender, account_home_path(transaction.sender)
        - if transaction.contract == 'null' && transaction.action == 'null'
          deployed new sidechain
          %code= payload['chainId']
          at Steem Reference Block:
          %code= payload['genesisSteemBlock']
        - elsif transaction.contract == 'contract' && transaction.action == 'deploy'
          deployed the
          %code= payload['name']
          contract
        - elsif transaction.contract == 'tokens' && ( transaction.action == 'transfer' || transaction.action == 'issue' )
          = case transaction.action
          - when 'transfer' then 'transferred'
          - when 'issue' then 'issued'
          - else; transaction.action
          &nbsp;
          %code= number_with_delimiter(payload['quantity']) + ' ' + payload['symbol']
          to
          = link_to payload['to'], account_home_path(payload['to'])
          %code= payload['memo']
        - elsif transaction.contract == 'tokens' && transaction.action == 'create'
          created a token called
          = link_to payload['name'].present? ? payload['name'] : payload['symbol'], transactions_path(symbol: payload['symbol'])
          = surround '(', ')' do
            symbol:
            = link_to payload['symbol'], transactions_path(symbol: payload['symbol'])          
        - elsif transaction.contract == 'tokens' && transaction.action == 'updateMetadata'
          created updated metadata for
          = link_to payload['name'].present? ? payload['name'] : payload['symbol'], transactions_path(symbol: payload['symbol'])
        - elsif transaction.contract == 'tokens' && transaction.action == 'enableStaking'
          enabled staking for
          = link_to payload['name'].present? ? payload['name'] : payload['symbol'], transactions_path(symbol: payload['symbol'])
          with unstaking cooldown of
          = pluralize payload['numberTransactions'], 'transaction'
          in
          = pluralize payload['unstakingCooldown'], 'day'
        - elsif transaction.contract == 'tokens' && transaction.action == 'updateUrl'
          updated URL for
          = link_to payload['name'].present? ? payload['name'] : payload['symbol'], transactions_path(symbol: payload['symbol'])
          to
          %code= payload['url']
        - elsif transaction.contract == 'tokens' && transaction.action == 'updateParams'
          updated params to
          %code= payload.to_json
        - else
          .badge.badge-primary= transaction.contract.underscore.humanize.downcase
          .badge.badge-primary= transaction.action.underscore.humanize.downcase
          - if transaction.contract == 'market'
            - if transaction.action == 'cancel'
              = surround '(', ')' do
                = link_to "original transaction #{payload['type']}", tx_path(payload['id'])
            - elsif !!payload['quantity']
              %code= number_with_delimiter(payload['quantity']) + ' ' + payload['symbol']
              %span.text-muted @
              %code= number_with_delimiter(payload['price']) + ' STEEMP'
          - else
            %span{title: JSON.pretty_generate(payload)} •
          - if !!logs['events']
            .d-flex.align-content-around.flex-wrap
              = render partial: 'event', collection: logs['events'], locals: {memo: payload['memo']}
        - if !!logs['errors']
          = render partial: 'error', collection: logs['errors']
        = link_to transaction.trx_id[0..6], tx_path(transaction.trx_id), class: 'tag'
        .foot
          = link_to b_path(transaction.block_num) do
            %time{data: {toggle: 'tooltip', placement: 'right'}, title: transaction.timestamp}
              = transaction.timestamp
