- if !!transactions_params[:account]
  - if !!transactions_params[:symbol] && !!@token_balance
    %span.float-right
      #{transactions_params[:account]}'s
      balance:
      %code
        = number_with_delimiter @token_balance
        &nbsp;
        = transactions_params[:symbol]
  %h1
    %span.text-muted>< @
    %span>< #{transactions_params[:account]}
- elsif !!transactions_params[:symbol]
  %h1= transactions_params[:symbol]

- cache ['transactions-index', transactions_params, head_block_num] do
  - if @transactions.any?
    = render partial: 'transaction', collection: @transactions, cached: true
  - else
    .jumbotron.text-center
      %h5.display-5
        %p No Transactions Found
      %h1 😭

%p  
  = pagy_bootstrap_nav_js(@pagy).html_safe
