!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Steem Engine Block Explorer
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.png', type: 'image/png'
    = favicon_link_tag 'favicon.png', rel: 'apple-touch-icon', type: 'image/png'
  %body
    .card
      .card-header
        .row
          .col-sm-4
            %h3.text-muted= link_to 'Steem Engine Block Explorer', root_url
          .col-sm-8
            .float-right
              = form_tag transactions_path, method: :get, class: 'form-inline' do
                %span.dropdown.px-5
                  - quick_links = []
                  - if !!(transfers_to = params[:account] || params[:to])
                    - quick_links << link_to("Transfers To: #{transfers_to}", transfers_path(to: transfers_to), class: 'dropdown-item')
                    - quick_links << link_to("Issued To: #{transfers_to}", issues_path(to: transfers_to), class: 'dropdown-item')
                  - if quick_links.any?
                    %button.btn.btn-secondary.dropdown-toggle#dropdownMenuButton{type: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
                      Quick Links
                    .dropdown-menu{aria: {labelledby: 'dropdownMenuButton'}}
                      = quick_links.join.html_safe
                .form-group
                  = text_field_tag :search, params[:search], class: 'form-control', style: 'width: 16rem', placeholder: 'Account, transaction, or block.'
      .card-body
        .container-fluid
          %ul.nav.nav-tabs
            -# %li.nav-item= link_to 'Dashboard', dashboard_index_path, class: 'nav-link' + (controller_name == 'dashboard' ? ' active' : '')
          - Rails.cache.fetch('replay_detection', expires_in: 10.minutes) do
            - if replaying?
              .text-center.alert.alert-danger{title: "i:#{i = head_block_num} vs. e:#{e = public_head_block_num}; diff: #{i - e}"} Replay in progress.  Sidechain sync is pending, please check back later.
          = yield
    .card-footer.text-center
      %small
        .figure.figure
          .figcaption.figure-caption
            Learn more:
            = link_to 'Steem Engine', 'https://steem-engine.com/?p=faq&utm_source=tender'
            \|
            Source: 
            = link_to 'Tender', 'https://github.com/inertia186/tender'
            \|
            Version:
            %version #{Tender::Application::VERSION}
